<nav>
    <div class="nav-wrapper">
        <a routerLink="/inicio" class="brand-logo">ASH</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/personas">Personas</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-empresa">Empresa</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/empleado">Empleado</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-clientes">Cliente</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/directivos">Directivo</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambioClave">Cambiar clave</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/CerrarSesion">Cerrar Sesion</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesion</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/personas">Personas</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-empresa">Empresas</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/empleado">Empleado</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-clientes">Cliente</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/directivos">Directivo</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambioClave">Cambiar clave</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/CerrarSesion">Cerrar Sesion</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesion</a></li>
</ul>